/* 
CSS SPECIFICITY > WHICH CODE WILL BE GIVEN IMPORTANCE
1. ORDER
2. Embedded vs External Stylesheet (Embedded wins)
3. Inline styles will have higher priority over embedded and external links
4. !important
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-overlay: rgba(36, 35, 35, 0.376)
}

/*ELEMENT SELECTORS - GENERAL STYLINGS*/

body {
    /* background-color: orangered; */
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

/* CUSTOM CLASSNAME SELECTORS*/

/****************************************************HEADER SECTION****************************/
.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)),
        url('https://github.com/suengit6/activity-images/blob/main/pexels-pixabay-267684.jpg?raw=true');
    background-size: cover;
    background-position: center;
}

.header__brand {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.header__brand--span {
    color: #20E700;
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
    /* background-color: rgba(36, 35, 35, 0.376); */
    /* background-color: var(--background-overlay); */
}


.header__nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

.header__nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header__image--sm {
    /* visibility: hidden;  */
    display: none;
}

.header__heading--desktop {
    position: absolute;
    /* background-color: green; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.header__heading--mobile {
    display: none;
}

.header__heading--h1 {
    font-size: 70px;
    margin-top: 10px;
}

/****************************************************ABOUT SECTION****************************/
.about {
    height: 80vh;
    background-color: #1E1E1E;
    color: #fff;
}

.about__img{
    display: none;
}

.about__heading {
    width: 50%;
    text-align: center;
    margin: auto;
}

.about__heading--h2 {
    font-size: 60px;
    padding-top: 6rem;
}

.about__heading--paragraph{
    text-align: center;
}

.about__skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
    margin: auto;
}

.about__skills-h3 {
    padding-right: 5%;
}

.about__skills-h3--1{
    border-bottom: 3px solid #20E700;
    width:5%;
    margin-right: 50px;
}

.about__content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 4%;
    /* background-color: green; */
    width: 50%;
    padding-left: 2%;
   text-align: left;
}

.about__content-h3{
    color: #20E700;
    font-weight: 700;
}


/****************************************************PORTFOLIO SECTION****************************/

.portfolio {
    /* height: 180vh; 1024 x 728 */
    height: 200vh;
    padding: 50px;
    text-align: center;
    color: #362D2D;
}

.portfolio__heading--h2 {
    font-size: 60px;
    margin-top: 1%;
}


.portfolio__container {
    display: grid;
    /*two dimensional*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    /* NOTE TO SELF:  grid-gap: 30px; good for 1024 x 768 screen size*/
    padding: 5%;
    margin-top: 50px;
}


.portfolio__img img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    display: block;
    border-radius: 10px;

}

.portfolio__btn {
    background-color: #45893A;
    color: #fff;
    height: 75px;
    width: 303px;
    padding: 2% 5%;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 2px;

}

/****************************************************CONTACT SECTION****************************/
.contact {
    height: 100vh;
    color: #fff;
    background-color: #3E3C3C;
    padding: 5%;
}

.contact__row {
    display: flex;
    /*  flex-direction: row; */
    /* flex-wrap: wrap; */
}

.contact__row--left {
    /* background-color: green;   */
    flex-basis: 45%;
}

.contact__heading--h2 {
    font-size: 60px;
}

.contact__row--left p {
    margin-top: 30px;
}

.contact__left--icons {
    margin-top: 15px;
}

.contact__row--left p i {
    color: #20E700;
    margin-right: 10px;
}

.contact__left--icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #D9D9D9;
    /* display: inline-block; */
}

.contact__btn {
    display: block;
    margin: 50px auto;
    border: 1px solid #2ecc71;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    width: fit-content;
}

.contact__btn:hover {
    background-color: #2ecc71;
}

.contact__btn.contact__btn--1 {
    display: inline-block;
}

.contact__row--right {
    /* background-color: blue; */
    flex-basis: 60%;
}

.contact__row--right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    outline: none;
    background: #312D2D;
    border: 6px;
    color: #fff;
    font-size: 18px;
    padding: 15px;
    margin: 15px 0;
}

form input:hover,
form textarea:hover {
    outline-style: solid;
    outline-color: red;
}

.contact__btn.contact__btn--2 {
    display: inline-block;
    background-color: #312D2D;
    font-size: 18px;
    margin:  0;
}

.contact__btn--2:hover {
    background-color: #2ecc71;
    cursor: pointer;
}



/****************************************************FOOTER SECTION****************************/

footer {
    height: 15vh;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    background-color: #171515;
    font-weight: 400;
    color: #fff;

}



/****************************************************MEDIA QUERIES****************************/

/***********MEDIA QUERY HEADER SECTION*****/
@media only screen and (max-width: 600px) {
    .header {

        background-image: none;
        /* background-color: #242323; */
        background-color: #3E3C3C;
    }




    .header__image--sm {
        display: block;
    }

    .header__image--sm img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;


    }

    .header__heading--desktop {
        display: none;
    }

    .header__heading--mobile {
        display: block;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        /* background-color: green; */
        width: 300px;
        text-align: center;
    }

    .header__heading--h1{
        font-size: 35px;
    }

    .header__heading--h2 {
        font-size: 20px;
    }

    .header__heading--span1 {
        color: #20E700;
        /* background-color: blue; */

    }

    .header__heading--span2 {
        display: block;
        /* background-color: yellow; */
    }

}

/* 
@media only screen and (max-width: 768px) {

} */


/***********MEDIA QUERY ABOUT SECTION*****/
@media only screen and (max-width: 600px) {
    .about{
        height: 150vh;
        padding-top: 10%;
        
    }

    .about__img{
        display: block;
        text-align: center;
        padding: 10% 3% 0% 0;
    }

    .about__img img{
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    .about__img img:hover{
        transform: translate(-5px, -10px);
        cursor: pointer;
        box-shadow: 13px 10px 5px 0px rgba(133,121, 121, 0.75);
    }

    .about__heading--h2{
        font-size: 30px;
        font-weight: 700;
    }

    .about__heading{
        width: 80%;
    }

    .about__heading--paragraph{
        text-align: left;
    }

    .about__content{
        left: 50%;
        transform: translate(-50%);
        margin-top: 10%;
        width: 87%;
    

    }
    
}


/***********MEDIA QUERY PORTFOLIO SECTION*****/
@media only screen and (max-width: 600px) {
    .portfolio{
        height: 200vh;
    }

    .portfolio__heading--h2{
        font-size: 30px;
        font-weight: 700;
    }

    .portfolio__img img{
        width: 70%;
        height: 280px;
        margin: 0 auto 5%;

    }

    .portfolio__img:last-child {
        margin-bottom: 10%;
    }

    .portfolio__btn { 
        padding: 5% 15%;

    }


}
/***********MEDIA QUERY CONTACT SECTION*****/
@media only screen and (max-width: 600px) {

    .contact{
        height: 180vh;
    }

    .contact__row{
        flex-direction: column;
    }

    .contact__heading--h2{
        font-size: 30px;
        font-weight: 700;
    }

  
    .contact__btn.contact__btn--2 {
        margin: 10% 0;
    }


}


/***********MEDIA QUERY FOOTER SECTION*****/

@media only screen and (max-width: 600px) {
    footer p{
      
        padding: 5% 0 0;

    }
}
